.tiles-container{
    display: flex;
    width: 80%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto auto 5em;
}

a{
    color: #14ACED;
    text-align: center;
    font-family: Nunito;
    font-size: 15px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    text-decoration-line: underline;
    text-transform: uppercase;
}

.remove-gutters {
    padding-left: 0;
    padding-right: 0;
    --bs-gutter-x: 0rem;
    --cui-gutter-x: 0rem;
}