/* Initial width for larger screens */
.custom-w-small {
    width: 25%;
}

/* Adjust width for small screens */
@media (max-width: 600px) {
    .custom-w-small {
        width: 90% !important;
    }
}

.faq-mainPage-container {

    .visible-m-up {
        display: none;
    }

    @media (min-width: 600px) {
        .visible-m-up {
            display: block;
        }
    }

    .row{
        --bs-gutter-x: 0rem;
        --cui-gutter-x: 0rem;
    }

    .faq-tile-box {
        & h4 {
            color: #4058A6;
            font-family: Nunito, sans-serif;
            font-size: 20px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            text-transform: uppercase;
            margin-left: 2rem;

        }

        & .faq-answer-prefix {
            color: #4058A6;
            font-family: Nunito, sans-serif;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }

    }


    .answer-box {
        display: flex;
        align-items: center;
        margin-left: 3rem;
    }


    .faq-container {
        margin-top: 5em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .faq-title-mainPage {
        color: #4058A6;
        font-family: "Bebas Neue", sans-serif;
        font-size: 100px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
    }

    .link-all-faqs {
        margin-top: 5em;
        display: flex;
        flex-direction: column;
        align-items: center;

        & a {
            color: #14ACED;
            font-family: Nunito, sans-serif;
            font-size: 15px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            text-decoration-line: underline;
            text-transform: uppercase;
        }

    }

    .faq-title-box {
        display: flex;
        flex-direction: row;
        justify-content: right;
        align-items: center;
        margin-right: 5em;

    }

    .view-more-faq {
        color: #4058A6;
        font-family: Inter, serif;
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
        text-decoration: none;
    }

    @media (max-width: 768px) {
        .faq-item-small-screen {
            margin-top: 4rem !important;
        }
    }
}


