.service-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 60%;
    margin: 0 auto;

    @media (max-width: 768px) {
        width: 100%;
    }

    & .service-tiles-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;


        @media (max-width: 768px) {
            flex-direction: column;
            align-items: center;
            width: 90%;

        }
    }

    & .add-service-icon {
        margin-left: 50%;
    }

    & .add-service-icon:hover {
        transform: scale(1.1);
    }

    @media (max-width: 768px) {
        & .add-service-icon {
            margin: 20px 0 0 0;
        }
    }
}
