<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            font-family: Arial, sans-serif;
        }
    </style>
</head>
<body>
<div class="container">
    <h1>Merci d'avoir choisi Corso</h1>
    <br>
    <h2>Votre commande a été acceptée !</h2>
    <hr>
    <br>
    <p>Pour plus d'informations sur votre commande, les rapports d'avancement ou pour laisser un avis, veuillez vous connecter et vous rendre sur la page des commandes en cours.</p>
    <p>Nous sommes impatients de travailler avec vous !</p>
    <br>
    <br>
    <hr>
    <br>
    <h1>Thank you for choosing Corso</h1>
    <br>
    <h2>Your order has been accepted!</h2>
    <hr>
    <br>
    <p>For more information about your order, progress reports or to leave a review, please log in and navigate to the current orders page.</p>
    <p>We look forward to working with you!</p>
    <br>
</div>
</body>
</html>