<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>

<body>

<div>
    <h1 th:utext="${messagePinned}"></h1>
    <p style="font-family: 'Lucida Sans Typewriter'; font-style:italic; font-size: small">English below</p>
    <br>
    <h1>Merci d'avoir choisi Corso,</h1>
    <h2>Votre avis a été épinglé par les administrateurs.</h2>
    <br>
    <p>Pour plus d'informations sur votre commande, les rapports d'avancement ou un avis, veuillez vous connecter sur notre site web et nous contacter.</p>
    <p>Nous sommes impatient de travailler avec vous!</p>
    <hr>
    <br>
    <h1>Thank you for choosing Corso, </h1>
    <h2>Your review has been pinned by administrators.</h2>
    <br>
    <p>For more information about your order, progress reports or a review, please log in on our website and contact us.</p>
    <p>We look forward to working with you!</p>
</div>
</body>
</html>