.review-mainPage-component {

    .review-container {
        border-radius: 15px;
        background: #FFF;
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
        padding: 50px 50px;
    }

    .review-title {
        color: #000;
        font-family: Nunito, sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 0.8px;
        text-transform: uppercase;
        text-align: left;
        margin: 0;
    }

    .review-description {
        color: #000;
        font-family: Nunito, sans-serif;
        font-size: 15px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        letter-spacing: 0.6px;
        padding-top: 5px;
    }
}

.review-mainPage-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .subtitle-reviews {
        color: rgba(0, 0, 0, 0.50);
        font-family: Inter, sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    }

    .title-reviews {
        color: #4058A6;
        font-family: "Bebas Neue", serif;
        font-size: 50px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .border-review {
        border-left: 5px solid #4058A6;
        padding-left: 1rem;
    }

    .carousel-container {
        width: 500px;
        height: 350px;
        margin: auto;



    }

    @media only screen and (max-width: 600px) {
        .carousel-container {
            width: 300px;
            height: 350px;
            margin: auto;
        }
    }

    @media only screen and (max-width: 1200px) {
        .testimonialHeaderContainer{
            width: 100%
        }
    }

    @media only screen and (min-width: 1200px) {
        .testimonialHeaderContainer{
            width: 45%
        }
    }

}



.custom-dot-list-style {
    text-align: center;
    margin-top: 50px;
}

.custom-dot-list-style li {
    display: inline-block;
    margin: 0 5px;
}

.custom-dot-list-style .react-multi-carousel-dot--active button {
    background-color: #4058A6;
}

.custom-dot-list-style li button {
    border: 1px solid #4058A6;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    padding: 0;
    background-color: #fff;
}

.custom-dot-list-style li button:hover {
    background-color: #4058A6;
    border-color: #4058A6;
}