
.profile-page {
    background: #F3F3F3;
    height: 100vh;
    width: 100%;

    display: flex;
    flex-direction: column;



    .user-box {
        background: #FFF;
        box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.1);

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    #profile-image-page {
        border-radius: 50%;

    }

    #logout-profile {
        background: none;
        border: none;
        font: inherit;
        cursor: pointer;
        outline: inherit;
        color: #14ACED;
        font-family: Nunito;
        font-size: 20px;
        font-style: normal;
        font-weight: 200;
        line-height: normal;
        text-decoration-line: underline;
    }

    .option {
        color: #000;
        font-family: Nunito;
        font-size: 25px;
        font-style: normal;
        font-weight: 200;
        line-height: normal;
        @media screen and (max-width: 768px) {
            font-size: 20px;
            margin: auto;
        }

    }



    .option-text{
        display: flex;
        justify-content: center;
        align-items: center;

        @media screen and (max-width: 768px) {
            Link {
                h1{
                    text-align: center !important;
                }
            }
        }

    }
}

.options-box{
    background: #FFF;
    box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.1);

    padding: 0;
    margin: 0;

    @media screen and (max-width: 992px) {

        display: flex;

        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        .option-box{
            width: 100%;
            height: 100%;
        }
    }

    @media screen and (max-width: 768px) {
        width: 100%;
        height: 100%;


        .option-box{
            width: 100%;
            height: 100%;
        }
    }

    .option-box{
        margin: 0;
        &:hover {
            box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.1);
            color: #14ACED;
            cursor: pointer;
        }
    }

    h3{
        background: none;
    }
}

.request-order-box-profile{
    p{
        color: #000;
        font-family: Nunito;
        font-size: 25px;
        font-style: normal;
        font-weight: 200;
        line-height: normal;
    }

}

.redirect-option{
    text-decoration: none;
    margin: 0;
    padding: 0;
    text-align: start;
    width: 100%;
    text-transform: none;
}

.contact-box{
    background: #FFF;
    box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.1);
    width: 100%;

    .contact-title{
        color: #000;
        font-family: Nunito;
        font-size: 30px;
        font-style: normal;
        font-weight: 200;
        line-height: normal;
        text-align: left;
    }
    p{
        margin-left: 2em;

        color: #000;
        font-family: Nunito;
        font-size: 20px;
        font-style: normal;
        font-weight: 200;
        line-height: normal;
    }
}

.current-orders-box{
    margin-top: 1em;
    background: #FFF;
    box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.1);
}


.box-row{
    width: 75%;
    @media screen and (max-width: 1440px) {
        width: 100% !important;
    }
}

.carousel-control-next-icon::before {
    content: '';
    display: inline-block;
    border-left: 8px solid blue; /* Arrow color */
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    margin-left: -1px; /* Adjust as necessary */
}

.carousel-control-prev-icon::before {
    content: '';
    display: inline-block;
    border-right: 8px solid blue; /* Arrow color, pointing left */
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    margin-right: -1px; /* Adjust as necessary */
}