.service-details-container {
    padding: 2rem 0;
}

.service-details {
    padding: 2rem;
    border-radius: 0.3rem;
}

.service-details p {
    color: #0A1B44;
    font-size: 15px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
}

@media (max-width: 768px) {
    .service-details-container {
        padding: 1rem;
    }

    .service-details {
        padding: 1rem;
    }
}

.home-hyperlink{
    color: #14ACED;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    text-decoration-line: underline;
    text-transform: uppercase;
}

.img {
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.custom-row {
    justify-content: flex-end;
    margin-top: 20px;
    margin-bottom: 10px;
}

.service-details-title-mainPage {
    color: #24252A;
    font-family: "Bebas Neue", sans-serif;
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    text-align: center;
}
