.services-container {
    margin-top: 90px;
    margin-bottom: 30px;

    .subtitle-services {
    color: rgba(0, 0, 0, 0.50);
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;    }
    
    .title-services {
        color: #4058A6;
        font-family: "Bebas Neue", serif;
        font-size: 50px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .service-card{
        border-radius: 16px;
        border: 1px solid rgba(0,0,0,0.12);
        background: #FFF;
        box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.1);
        padding: 3rem 2rem;
        min-height: 470px;
        max-height: 470px;

        width: 95%;

    }

    .service-name{
        color: #4058A6;
        font-family: "Bebas Neue", sans-serif;
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .service-description{
        color: rgba(0, 0, 0, 0.50);
        font-family: Inter, sans-serif;
        font-size: 15px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        min-height: 50px;
        max-height: 500px;
    }

    .service-info-text-area{
        height:190px;
    }

    .learn-more-text{
        color: #4058A6;
        font-family: Inter, sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    .service-icon {
        border-radius: 50%;
        background-color: #fff;
        box-sizing: border-box;
        width: 25%;
        height: 25%;
    }

    .service-icon-container{
        padding-bottom: 2rem;
    }

    .border-service{
        border-left: 5px solid #4058A6;
        padding-left: 1rem;
    }

    .service-detail-icon{
        cursor: pointer;
    }


}