.logoutRedirect{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    background-image: url('https://res.cloudinary.com/dszhbawv7/image/upload/v1701099346/test-image-carousel-1_xd1nwu.jpg');
}

.logoutRedirect p{
    color: white;
    font-size: 2rem;
    text-align: center;
}

#root{
    font-family: 'Nunito', sans-serif;

    font-family: 'Nunito Sans', sans-serif;
    width: 100%;
}

.back-btn {
    display: inline-block;
    padding: 15px 25px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    color: #0A1B44;
    background-color: #FFFFFF;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out, color 0.3s ease-in-out;

    &:hover {
        background-color: #064BEC;
        color: #FFFFFF;
        transform: translateY(-5px) scale(1.05);
    }

    &:active {
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        transform: scale(0.95);
    }
}
